<!DOCTYPE html>
<html>
  <head>
    <title>Track With Me</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <header>
      <!-- TODO implement header -->
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <!-- TODO implement footer -->
    </footer>
  </body>
</html>