<!DOCTYPE html>
<html>
  <head>
    <title>Track With Me</title>
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <header>
      <!-- TODO implement header -->
      <p>Header can go here</p>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <!-- TODO implement footer -->
      <p>Footer can go here</p>
    </footer>
  </body>
</html>