<!DOCTYPE html>
<html>
  <head>
    <title>Track with Me</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <header>
    	<div class="wrapper">
	      <h1 class="logo">
	      	<a href="">Track with Me</a>
	      </h1>
	      <nav>
	      	<ul>
	      		<li>
	      			<a href="">
	      				<i aria-hidden="true" data-icon="?"></i>
	      				<i class="screen-reader-text">What is Track With Me?</i>
	      			</a>
	      		</li>
	      		<li>
	      			<a href="">
	      				<i aria-hidden="true" data-icon="l"></i>
	      				<i class="screen-reader-text">Login</i>
	      			</a>
	      		</li>
	      	</ul>
	      </nav>
    	</div>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <!-- TODO implement footer -->
    </footer>
  </body>
</html>