<!DOCTYPE html>
<html>
  <head>
    <title>Track with Me</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%-scripts%>
    <%-stylesheets%>
		<% script('/javascripts/navigation.js') -%>

  </head>
  <body>
    <div id="login" class="login-hidden">
			<a class="button" href="/auth/facebook">Connect with Facebook</a>
    </div>
    <header>
    	<div class="wrapper">
	      <h1 class="logo">
	      	<a href="/">Track with Me</a>
	      </h1>
	      <nav>
	      	<ul>
	      		<li>
	      			<a class="nav-about-link" href="">
	      				<i aria-hidden="true" data-icon="?"></i>
	      				<span class="screen-reader-text">What is Track With Me?</span>
	      			</a>
	      		</li>
	      		<li>
	      			<a class="nav-login-link" href="">
	      				<i aria-hidden="true" data-icon="l"></i>
	      				<span class="screen-reader-text">Login</span>
	      			</a>
	      		</li>
	      	</ul>
	      </nav>
    	</div>
    </header>

    <section>
      <%-body -%>
    </section>
    <footer>
      <!-- TODO implement footer -->
    </footer>
  </body>
</html>