<!DOCTYPE html>
<html>
  <head>
    <title>Track with Me</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%-scripts%>
    <%-stylesheets%>
		<% script('/javascripts/drawers.js') -%>
		<% script('/javascripts/global.js') -%>

  </head>
  <body>
    <div id="about" class="drawer-hidden drawer">
			<div class="wrapper">
				<h2>Create limited-time mixes to enjoy with a&nbsp;friend.</h2>
				<p>Here's how it works: <span>1</span> create a mix (three songs), <span>2</span> select a date/time to play the mix, and <span>3</span> choose a friend to listen with in real-time. Once the mix ends it's gone forever. So, enjoy it while it lasts.</p>
			</div>
    </div>

    <div id="login" class="drawer-hidden drawer">
			<% if (isAuthenticated == false) { %>
				<a class="button login-button" href="/auth/facebook">Login with Facebook</a>
			<% } else { %>
				<a class="logout" href="/logout">Disconnect from Facebook</a>
		  <% } %>
    </div>

    <header class="header-slide">
    	<div class="wrapper">
	      <h1 class="logo">
	      	<a href="/">Track With Me</a><span>Beta</span>
	      </h1>
	      <nav>
	      	<ul>
	      		<li>
	      			<a class="nav-about-link nav-link" href="#about">
	      				<i aria-hidden="true" data-icon="?"></i>
	      				<span class="screen-reader-text">What is Track With Me?</span>
	      			</a>
	      		</li>
	      		<li>
	      			<a class="nav-login-link nav-link" href="#login">
	      				<i aria-hidden="true" data-icon="l"></i>
	      				<span class="screen-reader-text">Login</span>
	      			</a>
	      		</li>
	      	</ul>
	      </nav>
    	</div>
    </header>

    <%-body -%>

    <footer>
    	<div class="wrapper">
	      <p>© 2013 Track With Me Ltd</p>
	      <ul>
	      	<li><a href="//twitter.com/trackwithme" target="_blank">@trackwithme</a></li>
	      	<li><a href="mailto:nathan@trackwithme.com">Contact</a></li>
	      	<li><a href="/terms">Terms</a></li>
	      	<li><a href="/privacy" >Privacy</a></li>
	      </ul>
    	</div>
    </footer>
		<div class="album-bg">
			<img src="/images/tame-impala-cover.jpg" alt="Album cover background">
		</div>
  </body>
</html>