<% layout('/boilerplate') -%>
<% stylesheet('/css/generated/style.css') -%>
<% script('/javascripts/spotify-search.js') -%>
<h1><%= title %></h1>
<p>Enter your search term</p>
<input id='spotify-search-term' type='text' placeholder='Search Term'>

<button id='spotify-search-button'>Search</button>

<p id="searching">Searching...</p>

<div id='spotify-search-results' />

<div id='play-div' />


