<% layout('/boilerplate') -%>
<% stylesheet('/css/generated/styles.css') -%>
<% script('/javascripts/facebook-search.js') -%>
<h1><%= title %></h1>
<p>Enter your search term</p>
<input id='facebook-search-box' type='text' placeholder='Search Term'>

<button id='facebook-search-button'>Search Friends</button>

<div>
	<ul id='facebook-search-results'>
		<% friends.forEach( function(friend){ %>
			<li id='<%= friend.id %>'><%= friend.name %></li>
		<% }) %>
	</ul>
</div>

