.cold-start{

	.create-date-button{
		display: none;
		margin-top: 8em;

		.button:hover{
			background: rgba(0,0,0,.5);
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
}

.choose-track-cold{
	display: block;
	position: relative;
	height: 22em;
	line-height: 22em;

	.button{
		position: relative;
		font-size: 1.2em;
		z-index: 3;
		background: $red;

		&:hover{
			margin-top: 2px;
		}
	}
}

.choose-track-tooltip{
	position: absolute;
	width: 28em;
	padding: 2em 1em;
	margin: 2em auto 0 50%;
	left: -14em;
	border: 4px $red solid;
	border-radius: 8px;
	background: $white;
	@include box-sizing;

	&:before, &:after{
		border: solid transparent;
		content: '';
		height: 0;
		width: 0;
		position: absolute;
	}

	&:after{
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: $white;
		border-width: 1.6em;
		left: 50%;
		margin-left: -.9em;
		top: -3em;
	}

	&:before{
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: $red;
		border-width: 1.9em;
		left: 50%;
		margin-left: -1.15em;
		top: -3.7em;
	}

	p{
		font-size: 1.4em;
		font-family: 'LatoRegular', helvetica, sans-serif;
	}
}