.create-date{
	position: relative;
	padding: 8em 0;
}

.track-choices{
	@include transition;
	@include clearfix;
	&:hover{

		.track-choice-top{
			-moz-transform: rotate(-7.5deg);
			-ms-transform: rotate(-7.5deg);
			-o-transform: rotate(-7.5deg);
			-webkit-transform: rotate(-7.5deg);
			transform: rotate(-7.5deg);
			left:47.5%;
			margin-top: -1.5em;
		}

		.track-choice-middle{
			margin-top: -1.5em;
		}

		.track-choice-bottom{
			-moz-transform: rotate(7.5deg);
			-ms-transform: rotate(7.5deg);
			-o-transform: rotate(7.5deg);
			-webkit-transform: rotate(7.5deg);
			transform: rotate(7.5deg);
			left: 55%;
			margin-top: -1.5em;
		}
	}
}

.track-choice{
	position: absolute;
	width: 22em;
	height: 22em;
	left: 50%;
	margin-left: -11em;
	z-index: 1;
	@include transition;

	img{
		position: relative;
		max-width: 100%;
		border: 1px solid $grey;
		border-radius: 1px;
		@include box-sizing;
	}
}

.track-choice-bottom{
	margin-top: -1em;
	left: 52%;

	&:hover{
		z-index: 2;
	}
}

.track-choice-middle{
	margin-top: -0.5em;
	left: 51%;

	&:hover{
		z-index: 2;
	}
}

.track-choice-top{

	&:hover .add-track{
		@include transition;
		opacity: 0.95;
	}
}

.add-track{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $white;
	color: $grey;
	text-align: center;
	line-height: 22.5em;
	border: 1px dashed $grey;
	border-radius: 1px;
	@include box-sizing;
	@include transition;
	z-index: 1;

	h3{
		position: relative;
		font-size: 1.2em;

		&:after{
			position: absolute;
			left: 50%;
			top: -1.25em;
			margin-left: -50%;
			width: 100%;
			content: 'm';
			font-family: 'icomoon';
			font-size: 1.6em;
		}
	}
}

/*User Images*/
.user-images:after{
	width: 100%;
	position: absolute;
	left: 0;
	top: 10em;
	height: 1px;
	background: $grey;
	content: '';
	z-index: 1;
}

.self-user-image, .friend-user-image{
	position: absolute;
	top: 6em;
	width: 8em;
	height: 8em;
	border-radius: 100%;
	border: 1px solid $grey;
	z-index: 2;
	@include box-sizing;
}

.self-user-image{
	left: 0;
}

.friend-user-image{
	right: 0;
}

.add-friend{
	display: table;
	opacity: 0;
	position: absolute;
	top: 6em;
	right: 0;
	width: 8em;
	height: 8em;
	color: $grey;
	text-align: center;
	z-index: 10;
	@include transition;

	&:hover{
		@include transition;
		opacity: 0.95;
	}

	h3{
		display: table-cell;
		position: relative;
		padding-top: 2.2em;
		font-size: 1.2em;
		vertical-align: middle;
		background: $white;
		border: 1px dashed $grey;
		border-radius: 100%;

		&:after{
			position: absolute;
			left: 50%;
			top: 0.75em;
			margin-left: -50%;
			width: 100%;
			content: '+';
			font-family: 'icomoon';
			font-size: 1.6em;
		}
	}
}

.create-date-button{
	display: block;
	margin-top: 25em;
	text-align: center;

	.button{
		background: rgba(0,0,0,.5);

		&:hover{
			background: $red;
		}
	}
}