/*TRACK DETAILS*/
.track-details{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.5em;
	background: rgba(255,255,255,0.9);

	li{
		margin-bottom: 0.25em;
	}

	.album-name{
		margin-bottom: 0;
		font-style: italic;
	}
}

.artist-name{
	font-size: 1.2em;
}

.track-time{
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
}

#track-progress{
	position: absolute;
	top: -0.25em;
	left: 0;
	width: 0;
	height: 0.25em;
	background: $red;
}

/*DATE TITLE, PROGRESS, TIME*/
#date-bar{
	position: relative;
	width: 100%;
	height: 4em;
	margin-top: 4em;
	background: rgba(0,0,0,.5);
	color: $white;
	line-height: 4em;
	@include clearfix;

	&:before{
		position: absolute;
		content: '';
		left: 50%;
		top: -12px;
		width: 0;
		height: 0;
		margin-left: -12px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 12px solid rgba(0,0,0,.5);
	}

	#date-progress{
		position: absolute;
		height: 4em;
		left: 0;
		top: 0;
		background: $red;
		width: 0;
	}

	h2{
		float: left;
		width: 60%;
		margin: 0;
		position: relative;
		z-index: 1;
	}
}

.mix-time{
	float: right;
}

.date-date{
	display: none;
}

@media only screen
and (min-width : 52em) { /*832px*/
	#date-bar{

		h2{
			text-align: center;
		}

		.mix-time, .date-date{
			position: relative;
			float: left;
			width: 20%;
			font-size: 0.9em;
			z-index: 1;
		}

		.date-date{
			display: block;
			float: right;
			text-align: right;
			float: right;
		}

	}
}