footer{
	display: none;
	position: absolute;
	bottom: 0;
	left:0;
	height: 5em;
	line-height: 1em;
	padding-top: 2em;
	margin-top: 2em;
	width: 100%;
	font-size: 0.9em;
	color: $dark-grey;
	text-align: center;
	background: rgba($white, 0.8);

	ul{
		margin-top: 1em;
	}

	li{
		display: inline-block;
		margin: 0 0.5em;
	}

	a{
		@include transition;

		&:hover{
			color: darken($dark-grey, 25%);
		}
	}
}

@media only screen
and (min-width : 30em) { /*480px*/
	footer{
		height: 4em;
		line-height: 4em;
		padding: 0;

		p{
			float: left;
		}

		ul{
			float: right;
			margin: 0;
		}

		li{
			margin: 0 0 0 1em;
		}
	}
}