<% layout('/boilerplate') -%>
<% stylesheet('/css/generated/styles.css') -%>
<% script('/javascripts/spotify-search.js') -%>
<% script('/javascripts/facebook-search.js') -%>


<!-- TODO - No way to actually create date right now -->
<div class="create-date">
	<div class="user-images wrapper">
		<img class="self-user-image" src="/images/jon-profile.jpg" alt="User Profile image">
		<div class="friend-user-image-outer">
			<img class="friend-user-image" src="/images/erica-profile.jpg" alt="Friend Profile image">
			<a href="#friend-search" class="add-friend" title="Clicking this link will allow you to choose a friend to share your mix with.">
				<h3>Click to add a&nbsp;friend</h3>
			</a>
			<p id="friend-name"></p>
		</div>
	</div>
	<ul class="track-choices">
		<li class="track-choice-bottom track-choice">
			<img src="/images/weeknd-cover-small.jpg" alt="Album Cover 3">
		</li>
		<li class="track-choice-middle track-choice">
			<img src="/images/krisskross-cover-small.jpg" alt="Album Cover 2">
		</li>
		<li class="track-choice-top track-choice">
			<a href="#music-search" class="add-track call-modal" title="Clicking this link will allow you to search and add music to your mix.">
				<h3>Click to add your first track</h3>
			</a>
			<img src="/images/tame-impala-cover-small.jpg" alt="Album Cover 1">
		</li>
	</ul>

	<!-- Necessary fields:

		var name = req.body.date.name;
		var date = req.body.date.date;
		var friend = req.body.date.friend;
		var song1 = req.body.date.song1;
		var song2 = req.body.date.song2;
		var song3 = req.body.date.song3;

	-->

	<form method='post' action='/create'>
		<input type='hidden' name='date[name]'>
		<input id="friend-for-date" type='text' name='date[friend]'>
		<input type='hidden' name='date[date]' >
		<input type='hidden' name='date[song1]'>
		<input type='hidden' name='date[song2]'>
		<input type='hidden' name='date[song3]'>

		<!-- TODO make this fella hidden, and add an onclick for the good create-date-button to call it -->
		<input type='submit' value='Schedule Date' />

		<div class="create-date-button">
			<a href="" class="button">Schedule Date</a>
		</div>
	</form>

	<!-- Modal for Spotify track search -->
	<section class="modal-container" id="music-search" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-inner wrapper">
			<div class="modal-content">
				<div>
					<input id='spotify-search-term' type='text' placeholder='Search Term'>

					<button id='spotify-search-button'>Search</button>

					<p id="searching">Searching...</p>

					<div id='spotify-search-results'></div>
				</div>
			</div>
		</div>
		<a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal">×</a>
	</section>

	<!-- Modal for Facebook friend search -->
	<section class="modal-container" id="friend-search" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-inner wrapper">
			<div class="modal-content">
				<div>
					<input id='facebook-search-box' type='text' placeholder='Search Term'>

					<button id='facebook-search-button'>Search Friends</button>

					<div>
						<ul id='facebook-search-results'>
							<% friends.forEach( function(friend){ %>
							<li id='<%= friend.id %> <%= friend.username %>' class='facebook-friend-item'><img src='<%= friend.picture.data.url %>' /><%= friend.name %></li>
							<% }) %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal">×</a>
	</section>
</div>


